.app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: #1f4f9e
}

.app-header {
    background-color: #262626;
    overflow: visible;
    width: 100%;
    text-align: center;
    color: white;
}

.messages-list {
    background-color: white;
    padding: 20px;
    max-width: 860px;
    width: calc(100% - 40px);
    margin: 0 auto;
    list-style: none;
    flex-grow: 1;
    overflow: auto;
}

.messages-message {
    display: flex;
    margin-top: 10px;
}

.messages-message.current-member {
    flex-direction: row-reverse;
    margin-right: 20px;
    text-align: right;
}

.message-content {
    display: inline-block;
}

.current-member > .message-content {
    align-items: flex-end;
}

.message-content > .username {
    display: block;
    color: gray;
    font-size: 14px;
    padding-bottom: 4px;
}

.message-content > .text {
    padding: 10px;
    max-width: 430px;
    margin: 0;
    border-radius: 12px;
    background-color: cornflowerblue;
    color: white;
    display: inline-block;
}

.current-member > .message-content .text {
    background-color: orangered;
}

.form-control {
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto;
}

input {
    padding: 15px;
    font-size: 16px;
    border: 1px solid white;
    border-top-color: orangered;
    flex-grow: 1;
    outline: none;
}

button {
    padding: 5px 20px;
    font-size: 16px;
    background-color: orangered;
    color: white;
    border: none;
}

@media screen and (max-width: 500px) {
    .message-content > .text {
        max-width: 250px;
    }
}
